﻿@using DDD.WebUI.ViewModels.Product;
@using DDD.Domain.Entities;
@using DDD.Service.Model;
@using DDD.Domain.Abstract;
@using DDD.WebUI.Infrastructure.HTMLHelpers;


@model  IEnumerable<ProductsQuantityViewModel>

@{
        List<SelectListItem> firstOption = new List<SelectListItem>();
        firstOption.Add(new SelectListItem() { Text = "Select Color", Value = "0" });

        IEnumerable<SelectListItem> colors =

                from value in Model
                select new SelectListItem
                {
                    Text = ((ProductColor)value.ColorId).ToString(),
                    Value = value.ColorId.ToString()

                };

        colors = colors.Union(firstOption).OrderBy(p => p.Value);
                

        IEnumerable<SelectListItem> sizes = new List<SelectListItem>() 
                    { new SelectListItem() { Text = "Select Size", Value = "0" }};
        IEnumerable<SelectListItem> quontity = new List<SelectListItem>() 
                    { new SelectListItem() { Text = "Select Quantity", Value = "0" }};
                
                /*@Html.Button("Submit", new { name = "Submit", value = "2", id = "btnAdd" })*/
                    
    }
    



@Html.Label("Color:") @Html.DropDownList("ProductColorId", colors, new { id = "selectProductColor" })<br />
@Html.Label("Size:")  @Html.DropDownList("ProductSizeId", sizes, new { id = "selectProductSize" })<br />
@Html.Label("Quantity:")  @Html.DropDownList("ProductQuantity", quontity, new { id = "selectProductQuantity" })<br />
            


