﻿@using DDD.WebUI.ViewModels.Product;
@using DDD.WebUI.Infrastructure.HTMLHelpers;
@using DDD.Domain.Entities;

@model ProductSearchResultViewModel

<div id="productResults">

    <div class="productsTitle">
        @Html.ActionLink("Home", "Index", "Home")> 
                     @Html.Encode(Model.SelectedCategoryName) 
   </div>


   <div  id="divSortBy">

        <span >Sort by
           <select class="item-sortdropdown" id="ddlSortBy">                
                    <option value="1">Price - High to Low</option>
                    <option value="2">Price - Low to High</option>                
           </select>
       </span>
   </div>
   <div  id="divPages">>
       <span >products found 
                <span id="numberOfProductsFound">
                              @Html.Encode(Model.PagingInfoModel.NumberOfTitlesFound) 
                </span>

                 <span id="pageLinksTop">  
                               @Html.BuildPageLinksFrom(Model.PagingInfoModel.CurrentPage, 
                                     Model.PagingInfoModel.TotalNumberOfPages,
                                       x => "JavaScript:displayPage(" + x + ")")
                  </span>
       </span>

       </div>
   
</div>