﻿@using DDD.Domain.Entities;
@model IEnumerable<ProductQuantity>

@{var pp = Model.OrderBy( k => k.ProductColorId).Select(s => new {ColorName = s.ProductColorValue.ToString()}).Distinct();  
  }

@foreach (var p in pp)
  
{     
    if (p.ColorName != "Multi")
    {
      <div  style="background-color:@p.ColorName; "></div>
    }
    else
    {
        <div  style="background: linear-gradient(to right,blue, green, white ,red, brown,  blue); "></div>
    }
    
}
