﻿<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-1.7.1.js" type="text/js"></script>
<script src="~/Scripts/jquery.validate.min.js" type="text/js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/js"></script>

<title></title>
</head>

<body>
    


<div id="header">

<div class="title">

    @RenderSection("TitleContent", required: false)
</div></div>

 <div id="divMenu">  
 @if (IsSectionDefined("MenuContent"))
 {
    @RenderSection("MenuContent", required: false)
}
else
  {
     @Html.ActionLink("Home", "Index", "Admin", null, new { id = "linkHomeAdmin" })
     @Html.ActionLink("Product", "Index", "ProductAdmin",null, new { id = "linkProductAdmin" })     
     @Html.ActionLink("Category", "Index", "CategoryAdmin",null, new { id = "linkCategoryAdmin" })
     @Html.ActionLink("Brand", "Index", "BrandAdmin",null, new { id = "linkBrandAdmin" })
     
     
  }

</div>

<div id="content">
    @RenderSection("MainContent", required: false)
</div>

@RenderBody()
  
</body>
</html>
