﻿@using DDD.Domain.Basket;
@model Cart

<div id="cart">
<span class="caption">
<b>Your cart:</b>
<span id="cartQuantity">@Model.Lines.Sum(x => x.Quantity)</span> item(s),
<span id="cartTotal">@Model.ComputeTotalValue().ToString("c")</span>
</span>
@Html.ActionLink("Checkout", "Index", "Cart", new
{
    returnUrl = Request.Url.PathAndQuery

}, new { id = "linkCart", onclick = "return checkCartQuantity();" })
</div>

<script type="text/javascript">
function checkCartQuantity()
{
   if ($("#cartQuantity").text() != "0") return true;
   else {
        alert( "Shopping cart is empty");
    return false;
   }
 }
 </script>

     

     
