﻿@using DDD.WebUI.ViewModels.Product;
@using DDD.Domain.Entities;

@model ProductDetailViewModel



     
<div class="item">

 <table style="width:85%;" id="tblFromProductDetails">
 @if (Model.forCatalog == 0)
 {
      <caption> Catalog View</caption>
 }
 @using (Html.BeginForm("AddToCart", "Cart"))
  {
     
 <tr >
      <td  style="width:400px; text-align:center;"> 
                
         @Html.Partial("ProductTitleImageSet", Model.Product.ProductTitleImages)
                   
      </td>                    

     <td valign="top"> 
       
       <div >
            <div class="showDivAllAboutBrand"><h3><b> @Model.Product.Brand.Name (<span >about brand</span>)</b></h3> 
                       
                 <div class="divAllAboutBrand">
                   <h2><b>@Model.Product.Brand.Name</b></h2>
                        <pre style="white-space: pre-wrap;">@Model.Product.Brand.Description</pre>
                 </div>
            </div>
            <h3>@Model.Product.Name  @Model.Product.Price$</h3>  
            <div id="divProductDescription" > <pre style="white-space: pre-wrap;">@Model.Product.Description </pre></div>
                
            @Html.Partial("ProductQuantityByColor", Model.ProductsQuantityViewModels) 
            @Html.Hidden("productId", Model.Product.Id)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery )
        </div>
      </td></tr>
      <tr><td style="text-align:center;">
      
         <div class="divColorSetDetails" >          
                   @Html.Partial("ProductTitleColors",Model.Product.ProductsQuantity)
        </div>
      
      </td><td>   
        <div  style="vertical-align:bottom;">
            <input type="submit" value="+ Add to cart"  id="btnAddToCart"/>
            <a id="hrefReturnUrl" href="@Model.ReturnUrl"  class="actionButtons" style="margin-left:5px;">Continue shopping</a>
        </div>
         @if (Model.forCatalog == 0)
         {
          <div >         
            @Html.ActionLink("Edit product", "Edit", "ProductAdmin", new { Model.Product.Id, ReturnUrl = @Model.ReturnUrl }, new  {@class="actionButtons"})
            <a href="@Model.ReturnUrl" class="actionButtons" style="margin-left:5px;">Return back to Product List</a>
        </div>
          }

        </td></tr>
    }   
                           
     
 </table>      
</div>


                    
       





<script type="text/javascript">
    $(document).ready(function () {

        var forCatalog = '@Model.forCatalog';
        if (forCatalog == '0') {
            $("#linkProductAdmin").addClass("selected");
        }
        else {

            $("#menu" + "@Model.Product.Category.Id").addClass('selected');
        }

        $('#selectProductColor').live({
            change: function (event) {
                updateSelectOptions('/Product/GetSizesForColor/', 'selectProductColor',
                                'selectProductSize', '@Model.Product.Id', 'Select Size');
                return false;
            }
        });


        $('#selectProductSize').live({
            change: function (event) {
                updateSelectOptionsForQuantity('/Product/GetProductQuantity/', 'selectProductSize',
                                'selectProductQuantity', '@Model.Product.Id',
                                 $("#selectProductColor").val(), 'Select Quantity');
                return false;
            }
        });

        $('#btnAddToCart').live({
            click: function (event) {
                addToCart();
                return false;
            }

        });

        if (forCatalog == '0') {

            $(" #btnAddToCart").remove();
            $("#hrefReturnUrl").remove();
        }



    });
   
     
</script> 



<script type="text/javascript">


    function addToCart() {

        var jsonData = JSON.stringify({
            ProductId: '@Model.Product.Id',
            ProductColorId: $("#selectProductColor").val(),
            ProductSizeId: $("#selectProductSize").val(),
            ProductQuantity: $("#selectProductQuantity").val()
        });
        
        $.ajax({
            url: '@Html.Resolve("/Cart/AddToCartAjax/")',
            type: 'POST',
            dataType: 'json',
            data: jsonData,
            contentType: 'application/json; charset=utf-8',

            error:
                        function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.status + "  " +
                                thrownError);
                        },




            success: function (data) {                
                $("#cartQuantity").html(data.CartQuantity);
                $("#cartTotal").html(data.CartTotal);
            }
        });

    }






    function updateSelectOptions(lookupUrl, parentSelectElementId,
                            childSelectElementId, productId, optionText) {
        $.getJSON(lookupUrl,
            { SearchId: $('#' + parentSelectElementId).val(), ProductId: productId },
            function (data) {
                var html = "<option value='0'>" + optionText + '</option>';
                var len = data.length;
                for (var i = 0; i < len; i++) {
                    html += '<option value="' + data[i].Id + '">' + data[i].Name + '</option>';
                }

                $('#' + childSelectElementId).html(html);
            }
        );

    }




    function updateSelectOptionsForQuantity(lookupUrl, parentSelectElementId,
                            childSelectElementId, productId, colorId, optionText) {
       
        $.getJSON(lookupUrl,
            { SearchId: $('#' + parentSelectElementId).val(), ProductId: productId, ColorId: colorId },
            function (data) {
                var html = "<option value='0'>" + optionText + '</option>';
                var len = parseInt(data.Quantity,10);
                 if (len > 8) len = 8;
               
                
                for (var i = 0; i < len; i++) {
                    var value = (i + 1).toString()
                    html += '<option value="' + value + '">' + value + '</option>';
                }

                $('#' + childSelectElementId).html(html);
            }
        );

    }
</script>





