﻿@model DDD.Domain.Entities.Category

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section TitleContent {
       ADMIN
        
}




@section MainContent {
@if (Model.Id >0)
       {
        <h3>Edit category</h3> 
       }
       else
       {
        <h3>New category </h3>             
       }     

@using (Html.BeginForm("Edit", "CategoryAdmin")) {
    

  
        

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        @Html.HiddenFor(model => model.Id)

        <p>
            <input type="submit" value="Save" />
        </p>
   
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@Scripts.Render("~/Scripts/jquery-1.7.1.js")  
<script type="text/javascript">
    $(document).ready(function () {
        $("#linkCategoryAdmin").addClass("selected");
    })
</script>

}


