﻿@model DDD.Domain.Entities.Brand

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section TitleContent {
       ADMIN
        
}


@section MainContent {
@if (Model.Id >0)
       {
        <h3>Edit brand #@Model.Id</h3> 
       }
       else
       {
        <h3>New brand </h3>             
       } 

@using (Html.BeginForm("Edit", "BrandAdmin"))
{
   
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    
       <div class="editor-label">
            @Html.LabelFor(model => model.Description )
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description, new { height = "400px" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    
       

        @Html.HiddenFor(model => model.Id)

        <p>
            <input type="submit" value="Save" />
        </p>
   
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@Scripts.Render("~/Scripts/jquery-1.7.1.js")  
<script type="text/javascript">
    $(document).ready(function () {
        $("#linkBrandAdmin").addClass("selected");
    })

</script>

}


