﻿@model DDD.Domain.User.Anketa

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section TitleContent {
        
   Site Title   
}

@section MenuContent{
        <ul>
        <li>@Html.ActionLink("Home", "Index")</li>  
        <li>@Html.ActionLink("Profile", "Info")</li>        
        
        <li>@Html.ActionLink("Search", "Search, new {Id=Model.Id}")</li>
   </ul>
        
}



@section MainContent {
<h3>My Anketa</h3> 



@Html.HiddenFor(p => p.Id)   
    
@Html.LabelFor(p => p.MaritalStatusId, new { @class = "editor-label" })<br />
@Html.EnumDropDownListFor(p => p.MaritalStatusValue)<br /><br />

@Html.LabelFor(p => p.HairColorId, new { @class = "editor-label" })<br />
@Html.EnumDropDownListFor(p => p.HairColorValue)<br /><br />

@Html.LabelFor(p => p.EyeColorId, new { @class = "editor-label" })<br />
@Html.EnumDropDownListFor(p => p.EyeColorValue)<br /><br />

@Html.LabelFor(p => p.OccupationId, new { @class = "editor-label" })<br />
@Html.EnumDropDownListFor(p => p.OccupationValue)<br /><br />

@Html.LabelFor(p => p.EducationId, new { @class = "editor-label" })<br />
@Html.EnumDropDownListFor(p => p.EducationValue)<br /><br />

@Html.LabelFor(p => p.OccupationId, new { @class = "editor-label" })<br />
@Html.EnumDropDownListFor(p => p.OccupationValue)<br /><br />
    
    

    
 <div class="editor-field">        
<input type="submit" value="Save" />          
         
                    
   </div>       

}
     