﻿@model DDD.Domain.User.UserProfile

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section TitleContent {
        
   Site Title     
}

@section MenuContent{
        <ul>  
        <li>@Html.ActionLink("Home", "Index", new{id=@Model.Id})</li> 
        <li>@Html.ActionLink("Profile", "Info", new{id=@Model.Id})</li>        
        
        <li>@Html.ActionLink("Search", "Search",new{id=@Model.Id})</li>
   </ul>        
}



@section MainContent {
<h3>My profile</h3>
@Html.ActionLink("Edit Profile", "Info", new{id=@Model.Id})&nbsp;&nbsp;&nbsp;  @Html.ActionLink("Display Profile", "Details", new{id=@Model.Id})<br /><br />
<div>
        @if (Model.ImageData == null )
                {
                    
                             <img   src="../../Content/Images/no_photo.jpg" / width="150" alt="no-image" />
                   
                }
                else
                {    
                                        <img width="150"  alt= "image" src="@Url.Action("GetImage", "User",
                            new { Model.Id })" />
                              
                                
                              
                }
</div>

<table>
<tr>
<td>@Html.LabelFor(p => p.FirstName, new { @class = "editor-label" })</td>
<td>@Html.DisplayFor(p => p.FirstName)</td>
</tr>


<tr>
<td>@Html.LabelFor(p => p.LastName, new { @class = "editor-label" })</td>
<td>@Html.DisplayFor(p => p.LastName)</td>
</tr>

<tr>
<td>@Html.LabelFor(p => p.GenderId, new { @class = "editor-label" })</td>
<td>@Html.DisplayFor(p => p.GenderValue)</td>
</tr>

<tr>
<td>@Html.LabelFor(p => p.Age, new { @class = "editor-label" })</td>
<td>@Html.DisplayFor(p => p.Age)</td>
</tr>

<tr>
<td>@Html.LabelFor(p => p.Email, new { @class = "editor-label" })</td>
<td>@Html.DisplayFor(p => p.Email)</td>
</tr>


</table>

}   