﻿@using DDD.WebUI.ViewModels.Product;
@using DDD.Domain.Entities;
@using DDD.Service.Product;
@model HomePageViewModel
@{
    Layout = "~/Views/Product/ProductCatalog.cshtml";
}

@section MenuContent {

@Html.Partial("_Categories", Model)    
}


@section MainContent {
 <div id="content">

 <div class="pager">
@using (Html.BeginForm("Index", "Home", FormMethod.Get, new { id = "selectForSearch" }))
 {    
        @Html.Hidden("CurrentPage", Model.PagingInfoModel.CurrentPage, new { id = "CurrentPage" })
        @Html.Hidden("ItemsPerPage", Model.ItemsPerPage, new { id = "ItemsPerPage" })
        @Html.Hidden("SortBy",Model.SortBy, new { id = "SortBy" })  
        <div id="divSortBy">
                   @Html.Label("Sort by:") <select class="item-sortdropdown" id="ddlSortBy">                
                    <option value="1">Price - High to Low</option>
                    <option value="2">Price - Low to High</option>                
           </select>
         </div> 
              
       <div class ="divTotalItemsFound">@Html.Label("Total found: ") 
                      <span class="spanTotalItemsFound">@Model.PagingInfoModel.NumberOfTitlesFound</span>
       </div>      
        @Html.Label("Page:") 
        @Html.PageLinks(Model.PagingInfoModel, p => Url.Action("Index", new { CurrentPage = p }))
        @Html.Label("Items per page:") 
        @Html.DropDownListForItemsPerPage("NumberOfResultsPerPage", "", null, Model.ItemsPerPage)
 } 
 </div>           
<div id="items">       
     <ul class="items-list">
           @if (Model.Products != null)
           {
               foreach (ProductTitle product in Model.Products)
               {
                   if (product != null)
                   {
                   <li class="item-detail">
                    <a class="item-productimage-link" 
                             href="@Url.Action("Details", "Product",
                                        new { id = product.Id }, null) ">
                                         @if (product.ProductTitleImages == null || product.ProductTitleImages.Count() == 0)
                                         {                    
                                                <img   src="../../Content/Images/no-image.jpg" class="item-productimage" alt="no-image" />                   
                                         }
                                         else
                                         {    
                                                 <img   class="item-productimage" alt= "image" src="@Url.Action("GetImage", "Product",
                                                 new { product.Id })" />                                                          
                                         }                     
                    </a>
                    <div class="item-productname">
                          @Html.ActionLink(product.Brand.Name + " " + product.Name,
                               "Details", "Product", new { forCatalog = 1, id = product.Id, ReturnUrl = Request.Url.PathAndQuery }, null)
                    </div>
                    <div class="item-price">
                          @Html.Encode(product.Price)
                    </div>
               </li>}
               }
           }
 </ul>
 </div>


<p style="clear:both; margin-top:15px;"></p>
<div class="pager">
   
        @Html.Label("Page:") 
        @Html.PageLinks(Model.PagingInfoModel, p => Url.Action("Index", new { CurrentPage = p }))
        @Html.Label("Items per page:") 
        @Html.DropDownListForItemsPerPage("NumberOfResultsPerPageBottom", "", null, Model.ItemsPerPage)

 </div> 
<p style="clear:both; margin-top:15px;"></p>           
 </div>










@Scripts.Render("~/Scripts/jquery-1.7.1.js")  
<script type="text/javascript">
    $(document).ready(function () {
        $('#ddlSortBy').val('@Model.SortBy');
        $("#menu0").addClass('selected');

        $('#ddlSortBy').change(function () {
            $("#CurrentPage").val("1");
            $("#SortBy").val($(this).val());
            $("#selectForSearch").submit();
        });

        $('#NumberOfResultsPerPage, #NumberOfResultsPerPageBottom').change(function (e) {
            $("#ItemsPerPage").val($(this).val());
            $("#CurrentPage").val("1");
            $("#selectForSearch").submit();
            return false;
        });


        $('.pager a').click(function (e) {
            $("#CurrentPage").val($(this).text());
            $("#selectForSearch").submit();
            return false;
        });

    })

</script>

}  