﻿@using DDD.Domain.Entities;
@model ProductTitle

    
 @Scripts.Render("~/Scripts/jquery-1.7.1.js")
 @Scripts.Render("http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js")
 @{
     int productHasImages = (Model.ProductTitleImages == null || Model.ProductTitleImages.Count() == 0) ? 0 : 1;
 }
 
               
<div class="previewImageSlideShow">
</div>
     
<div class="divImageGallery"> 
    <input type ="hidden" id = "hasImages" value ="@productHasImages" name="hasImages" /> 
 
            
           <table class="tblProductImageGallery">
           
           <tr> 
            @if (productHasImages == 0)
            {
               <td> 
                 <img class="noImage" src="../../Content/Images/no-image.jpg"   alt="no-image" />
               </td>                              

            }
            else
            {               
                  foreach (ProductTitleImage pp in Model.ProductTitleImages)
                  {
                   <td class="tdImageFromSet">    
                      <input type="hidden" name="fileId"  class ="hiddenInput" value="@pp.Id"/>
                      <input type="file" name="file"   class ="hiddenInput" />   
                      <img class="imageGalleryItem" src="@Url.Action("GetProductImageFromSet",
                                             "Product", new { imageId = pp.Id })" style="height:198px;" alt = "image-@pp.Id" />                                                
                       @Html.Partial("ImageMenu")                                      
                   </td>
             }
                                              
                
             }
          </tr>
        </table>        
      </div> 

      <div id="divUpoadPreviewImages" >
                 <div id="divUploadImage"> Add new image</div> 
                 <div id="divPreviewImages"> Preview slide show</div>
      </div>
      <div id="divUpoadPreviewImagesIE"></div>
      <div id="divBtnUpoadPreviewImagesIE"></div>
 


               
   
     
 
          