﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}






/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00; margin-left:6px; font-weight: bold;
}

.field-validation-valid {
    display: none;
}

.input-validation-error , .inputColorSizeWrongTbl{
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}



/* ira str - 185 */
BODY
{
font-family: Cambria, Georgia, "Times New Roman";
margin: 0;
}
.tblProductAttributes caption a{float:right;}
DIV#header DIV.title, DIV.item H3, DIV.item H4, DIV.pager A
{
font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
}
DIV#header
{
background-color: #444;
border-bottom: 2px solid #111;
color: White;
}
DIV#header DIV.title
{
font-size: 2em;
padding: .6em;
}
DIV#content
{
border-left: 0px solid gray;
margin-left: 9em;
padding: 1em; 
min-height: 100%; 
}
DIV#divMenu
{
float: left;
width: 8em;
padding: .3em;
min-height: 100%; 
}
DIV.item
{
border-top: 1px dotted gray;
padding-top: .7em;
margin-bottom: .7em;

}
DIV.item:first-child
{
border-top: none;
padding-top: 0;
}
DIV.item H3
{
font-size: 1.3em;
margin: 0 0 .25em 0;
}
DIV.item H4
{
font-size: 1.1em;
margin: .4em 0 0 0;
}

DIV.pager
{
text-align: right;

padding: 0em 0 0 0;  
margin-top: 0em;
}
.divTotalItemsFound{ float:left;}
.spanTotalItemsFound
{
font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
font-size: 1.1em;
color: #666;
text-decoration: none;
}

DIV.pager A
{
font-size: 1.1em;
color: #666;
text-decoration: none;
padding: 0 .4em 0 .4em;
}

DIV.pager A:hover
{
background-color: Silver;
}
DIV.pager A.selected
{
background-color: #353535;
color: White;
}
DIV.pager a.selected { background-color: #353535;
color: White; border:1px solid #666666; padding:2px 5px; margin-right:2px; }
DIV.pager a.notselected { background-color:#FFFFFF; border:1px solid silver; padding:2px 5px; margin-right:2px;}


DIV.pager label
{
width: auto; margin-right:4px;
}
DIV.pager select
{
width:50px;
}

DIV.pager div
{
float:left;
}
table td .tdlWithPager{  border-top-width:0px;}


#divSortBy {float:left;}
#ddlSortBy{width:140px; margin-right:10px;}

/* Styles for  formsnav menu*/

DIV#divMenu A
{
font: bold 1.1em "Arial Narrow","Franklin Gothic Medium",Arial; display: block;
text-decoration: none; padding: .6em; color: Black;
border-bottom: 1px solid silver; border-right: 1px solid silver;
}

DIV#divMenu A.selected { background-color: #666; color: White; }
DIV#divMenu A:hover { background-color: #CCC; }
DIV#divMenu A.selected:hover { background-color: #666; }


/*     button on the form */
FORM { margin: 0; padding: 0; }
DIV.item FORM { float:right; }
DIV.item INPUT {
color:White; background-color: #333; border: 1px solid black; cursor:pointer;
}



/*      cart css        */

H2 { margin-top: 0.3em }
TFOOT TD { border-top: 1px dotted gray; font-weight: bold; }
.actionButtons A, INPUT.actionButtons {
font: .8em Arial; color: White; margin: .5em;
text-decoration: none; padding: .15em 1.5em .2em 1.5em;
background-color: #353535; border: 1px solid black;
}

/*   for summary  */
DIV#cart { float:right; margin: .8em; color: Silver;
background-color: #555; padding: .5em .5em .5em 1em; }
DIV#cart A { text-decoration: none; padding: .4em 1em .4em 1em; line-height:2.1em;
margin-left: .5em; background-color: #333; color:White; border: 1px solid black;}




	
	
	/* Category Refinement */
	
#menuRefine
{
    float: left; 
    width: 10em;  border:1px solid silver;
    padding:0em; margin:0px;
}
.refine-attributes { list-style-type: none; padding:0px;  margin:0px; 
                 }
                 
h4 { background-color: #666; color: white; padding:4px; margin-bottom:0px;}         
                    
.refinement-box1{ 
   border:0px solid silver; border-top:0px solid silver;border-left:0px solid silver;
    overflow: auto; margin-right : 0px; margin-bottom:0px;
   }
   
   .refinement-box9 { padding:1px 0px 1px 2px; margin:9px;}
.refinement-box1 a{ color:Black;}
   
.refinement-box{ 
   border:0px solid silver;  border-top:0px solid silver;
    overflow: auto; margin-right : 0px; 
   }

.refinement-box li { background-repeat: no-repeat; background-position:
      0px 0px; padding-bottom: 3px; border-bottom:0px solid silver; }
.refinement-box li a {color:Black; text-decoration:none;}
li a.selectedItem { 
    background-image: url(../content/images/refinement-selected.gif);
    background-repeat: no-repeat; background-position: 2px 2px; padding-left: 16px;    
    cursor: pointer; }

li a.selecteddisabledItem {
    background-image: url(../content/images/refinement-selecteddisabled.gif);
    background-repeat: no-repeat; background-position: 2px 2px; padding-left: 16px; 
    cursor: pointer; color:#DDDDDD; }

li a.disabledItem {
    background-image: url(../content/images/refinement-disabled.gif);
    background-repeat: no-repeat; background-position: 2px 2px;
    padding-left: 16px; cursor:default; color:#DDDDDD; }

li a.availableItem {
    background-image: url(../content/images/refinement-available.gif);
    background-repeat: no-repeat; background-position: 2px 2px;
    padding-left: 16px; cursor: pointer; }
    
li a.selectedRadioItem { 
    background-image: url(../content/images/refinement-selected.gif) ; 
    background-repeat: no-repeat; background-position: 2px 2px; padding-left: 16px;    
    cursor: pointer; }
li a.notSelectedRadioItem { 
    background-image: url(../content/images/refinement-available.gif);  
    background-repeat: no-repeat; background-position: 2px 2px; padding-left: 16px;    
    cursor: pointer; }

/******************* Product  List  ***********************/
/* Product Listing */
ul li.item-detail { float: left; width: 154px; 
                    margin-left : 1em;  margin-right : 1.5em; margin-bottom : 2em;  }
ul.items-list { width: 75em;list-style-type: none; padding:0px; width:100%;
                 border:0px solid green; margin: 2.5em 0 0 0;}
.item-productimage { border: medium none; height: 179px; width: 150px; text-decoration: none; }
.item-productimage-link { border-style: none; text-decoration: none; width: 150px; }
.item-productname { text-align:center; width: 150px; height:35px; border:0px solid #D1D1D1;}
.item-price {text-align:center; width: 150px;  font-weight:bold;}

a.selected { background-color:#EDEDED; border:1px solid #666666; padding:2px 5px; }
a.notselected { background-color:#FFFFFF; border:1px solid #666666; padding:2px 5px; }

/* Basket Display */
.basket-details { margin-top : 10px; margin-right : 20px; float: right; text-align :right; border:1px solid #D1D1D1;}
.itemQtyBox { font-size:0.9em; height:12px; width:25px; border:1px solid #D1D1D1;}

/* Product Title */
#productResults {border:1px solid brown; display:block;}
.productsTitle1 {  vertical-align:top;  width:100px; }
.productsTitle2 {   vertical-align:top; float: right; }

.item-displayoptions-sort { float:right;  vertical-align:top; font-size:0.9em; width:300px;  }
.item-displayoptions-pages { float:right; font-size:0.9em; }






/*  ResultPage +ajax  Items      */
 #items{ vertical-align:top; }
 


#tblDetails{float:left; border:1px solid #D1D1D1;}
label {display: inline-block;  width:70px; margin-top:20px;}
select {width:150px;}
.cart-productImage{width:50px; height:60px;}

#tblCart{border-spacing:0; border-collapse:collapse; border:1px solid #D1D1D1; margin-top:15px;}
#tblCart  td { padding:10px;}
#tblCart tr {  border:1px solid #D1D1D1;}
#tblCart th{ padding:15px; background-color: #f4f4f4;   font-size:smaller;}
#tblCart caption{  text-align:left; padding:8px;  }
#tblCart tfoot { padding:15px; background-color: #f6f6f6;  }

/*   CategoryAdmin, BrandAdmin (Index)   */
.tblProductAttributes{border-spacing:0; border-collapse:collapse; border:1px solid #D1D1D1; margin-top:15px; }
.tblProductAttributes  td { padding:15px;}
.tblProductAttributes tr {  border:1px solid #D1D1D1;}
.tblProductAttributes th{ padding:12px; background-color: #f4f4f4;    text-align:left}
.tblProductAttributes caption{  text-align:left; padding:8px;   font-size:larger; font-weight:bolder;}
.tblProductAttributes tfoot { padding:15px; background-color: #f6f6f6;  }
.tblProductAttributes tr td:last-of-type { text-align:center}

.tblWithImage tr td:first-of-type { border:1px solid #D1D1D1; padding:0; margin:0;}
.tblWithImage tr th:first-of-type { border:1px solid #D1D1D1; background-color: #f6f6f6; }
.tblWithImage th{  border:1px solid #D1D1D1;  text-align:center; vertical-align:top}
.tblWithImage tr:nth-child(2) th{ padding:0; background-color: #f6f6f6;}
select#CategoryId, select#BrandId {  text-align:left; padding:0; margin:0;}
#ItemsPerPage { text-align:left; width:200px;}
#OrderBy  {text-align:left; width:250px;}

/*   Product Details */
#tblFromProductDetails caption{ text-align:left; font-size:larger;  font-size:large; font-weight:bold;}
#tblFromProductDetails td {padding-right:0px;}

.divColorSetDetails{ text-align:center;  }
.divColorSetDetails div { width:35px; height:35px; display: inline-block; margin:0; border:1px solid #D1D1D1;}

/*   slide  images*/
.productTitlePictureSet img { display: none;  }
.productTitlePictureSet img.first { display: block;}

/* image for list with colors*/
.divProductColorsForListView{ height:20px; text-align: center; margin-left:10px;}
.divColorSet{ display: inline-block; }
.divColorSet div { width:15px; height:15px;  float:left;  border:1px solid #D1D1D1;}



#divCheckout label{width:70px;   text-align:right; margin-right:5px;}
#divCheckout, #divCompleted{margin-left:50px;}

/*        Grid    Color, size,  quantity  */
.GridTitleColor , .GridTitleMultiColor {height:20px; border:1px solid #D1D1D1;}
.GridTitleMultiColor { background: linear-gradient(to right, blue, green,  red,white , brown, yellow, blue);}

.tblColorSizeQuantity 
{  
    border-spacing:0; border-collapse:collapse;
     border:1px solid #D1D1D1;  width:537px;
}
.tblColorSizeQuantity td { border:1px solid gray; text-align:center; padding:1px;}
.tblColorSizeQuantity tr td:first-child { padding-right:9px;}

.inputColorSizeTbl, 
.inputColorSizeSelectedTbl, .inputColorSizeHiddenTbl, .inputColorSizeWrongTbl
{
    width:43px;height:15px;   
    
      text-align:right; 
}
.inputColorSizeSelectedTbl {background-color:#D1D1D1;  border:1px solid #D1D1D1;}
.inputColorSizeTbl {background-color:transparent;  border:1px solid #D1D1D1;}



/*      Image upload        */
.divImageGallery, .divColorSizeQuantity { overflow:auto; max-width: 537px;  margin-top:15px; margin-bottom:25px;}
.noImage,.imageGalleryItem{  border:3px solid #D1D1D1;}
.noImage {height:210px; width:170px;}




    
/*  imageGalleryItem  defailt size     width:170px; height:198px;*/
    
.profileImageGallery { overflow:auto; width: 530px;  margin-top:25px; margin-bottom:0px;}
  .imageGalleryItem {  vertical-align:top; border:2px solid #D1D1D1; }
  
  .divImageMenu  {text-align: center; background-color: #D1D1D1; 
                   padding-top:2px; padding-left:2px; border:1px solid #D1D1D1;}
  .tblProfileImageGallery tr { padding:0px; margin:0px;}
  .tblProfileImageGallery tr td { padding:0px; margin:0px;}
  .moveRight1 {float:right; margin-right:12px; }
  .moveLeft1 {float:left; margin-left:12px; } 
  .removeImage {padding-top:5px;padding-left:2px; border:1px solid #D1D1D1;}  
  
  .moveRight {margin-left:25px; padding-top:5px; padding-right:2px; border:1px solid #D1D1D1; }
  .moveLeft { margin-right:25px; padding-top:5px; padding-left:2px; border:1px solid #D1D1D1;} 
 
 
  .moveRight:hover, .moveLeft:hover, .removeImage:hover { background-color: silver ;  border-radius: 5px;} 
  
      


#divUploadImage, #divPreviewImages   
{  width:130px; margin-left:20px;
    background-image: url(../content/images/add-image.png);
    padding:3px; vertical-align:text-top;
    background-repeat:no-repeat; text-align:right; 
    background-position:left; display:inline-block;  border:1px solid  transparent;
}
 #divPreviewImages {  background-image: url(../content/images/preview.png); width:140px;}
#divUpoadPreviewImages{ text-align:left; vertical-align:top;  margin-top:20px; margin-bottom:10px; margin-left:5px; }

#divUploadImage:hover,  
#divPreviewImages:hover
{
      background-color: #D1D1D1;  border-radius: 5px;
}

/*     Admin         */

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd; 
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0; vertical-align: top;

}
tblset {border: 1px solid #ddd; 
     padding: 0 1.4em 1.4em 1.4em; margin-top:70px;}


legend {
    font-size: 1.2em;
    font-weight: bold;
}



.editor-label {
    margin: 1em 0 0 0; vertical-align: top;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

.editor-btn {  margin: 4em 0 0 0 ;}
.editor-btn a  {  margin: 0 1em 0 0; }

.center-btn   {  margin: 4em 0 0 5em ;}
.center-btn a  {  margin: 0 0.5em 0 0; }

.editor-field { margin-bottom: .8em; }
.editor-label { font-weight:  bold;  }
.text-box { width: 25em; }
.multi-line, .multilineForBrand { height: 125px;  width:530px; }

.multilineForBrand { height:400px;}

.fieldset label { font-weight:bolder;}
.tblset label { font-weight:bolder; width:auto;}

#tblWithCustomButton { vertical-align:top; }
#tblWithCustomButton{border-spacing:0; border-collapse:collapse;  border-width:0; margin-top:0px; padding:0;}
#tblWithCustomButton td{padding:0;  border-width:0;}
#tblWithCustomButton tr{padding:0;  border-width:0;}

.previewImageSlideShow
{
    background-color:white; border:2px solid #666666; padding:0px; padding-bottom:10px;  vertical-align:top;
}
.divClosePreview
{ 
   width:50px;float:right;  font-weight:bolder; font-size:larger; padding-top:15px; padding-right:0px;
}





.divAllAboutBrowser
{ 
display: none; border:2px solid #666666; width:300px;  z-index:500;
padding: 5px 10px 10px 5px; position:absolute; background-color:white;}

.divShowBrowserInfo:hover .divAllAboutBrowser
{
display : block;
}


/*             Show BrandInfo in Product/Details    */
.divAllAboutBrand
{ 
display: none; border:2px solid #666666; width:550px; margin-left: -260px; z-index:500;
padding: 3px 0px 10px 25px; position:absolute; background-color:white;
}
.showDivAllAboutBrand:hover .divAllAboutBrand{
display : block;
}
.showDivAllAboutBrand span {font-size:small;  text-decoration:underline;}

/*           ShowMainImage ProductAdmin Index */
.divMainImage
{ 
display: none; border:2px solid #666666;  margin-top: -148px;  margin-left:-85px;z-index:500;
padding: 6px 6px 6px 6px; position:absolute; background-color:white;
}
.showDivMainImage:hover .divMainImage{
display : block;
}

.divMainImage img {width: 200px;}


/* Loading Overlay */
#overlay {
    background: #ccc url(content/images/ajax-loader.gif) no-repeat 50% 50%; 
    display: none; position: absolute; text-align: center; z-index:1;     
    border:1px dashed #CCC;}
   
#smoverlay {
    background: #ccc url(content/images/sm-ajax-loader.gif) no-repeat 50% 50%; 
    display: none; position: absolute; text-align: center; z-index:1;     
    border:1px dashed #CCC; }
 
 /* Model Popup Dialog */   
.ui-widget-overlay {
    background:url("content/images/modal-background.png") repeat #AAAAAA;
    opacity: 0.5; left:0; position:absolute; top:0; }

.ui-widget-content { background: #F4F0EC; border:1px solid #E0CFC2; color:#1E1B1D; }

#main { margin: 0px auto; padding: 0px; border:0; width: 840px; }

    
#dialog-noproducts {  width:400px; height:300px; padding:20px;}   







/* hide the file input. important to position it offscreen as opposed display:none. some browsers don't like that */
.fileinput { position: absolute; left: -9999em; }

/* an example of styling your label to look/behave like a link */
#link { color: #2a9dcf; font-size: 16px; }
#link:hover { text-decoration: underline; cursor: pointer; }

/* an example of styling your label to look like a button */
#button2 {
    display: block; position:relative; top: 300px;
    width: 31px;
    height: 27px;
    text-indent: -9999em;
    background: transparent url(http://www.afar.com/assets/profile_sprite.png) 0 0 no-repeat;
}

#button {
    display: block;
    width: 31px;
    height: 27px;
    text-indent: -9999em;
    background: transparent url(../content/images/profile_sprite.png) 0 0 no-repeat;
}

#button1 {
    display: block; 
    width: 31px;
    height: 27px;
    text-indent: -9999em;
    background: transparent url(../content/images/add-image.png) 0 0 no-repeat;
}

#button:hover {
    cursor: pointer;
}







